* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container-fluid {
  min-height: 100vh;
}

.card{
  background:transparent;
  border: none;
  
}

.contact__form{
  background: url('/assets/blurry-gradient-haikei.png');
  background-size: cover;
  
}

.contact__form .row{
  height: 80dvh;
  margin: 6% 0;
  box-shadow: rgba(0, 0, 0, 0.538) 0px 0px 5px 0px, rgba(0, 0, 0, 0.74) 0px 0px 5px 0px;}

.contact__form__left{
  background-image: url('/assets/6802363_26957.jpg');
  background-size: cover;
  background-position: center center;
}



.nombreInput--error {
  background-color: #dc3545;
  width: max-content;
  margin-top: 5px;
  padding: 4px;
  color: white;
}

.borderError--input {
  border: 2px solid #dc3545;
}

.success {
  border: 2px solid rgba(0, 0, 255, 0.39);
}
